.root {
 -fx-background-image: url("Icons/190325-rental-cars-cs-229p.jpg");
 -fx-background-repeat: no-repeat;
 -fx-background-size: cover;
 -fx-background-position: center;
}
.color-full-background{
 -fx-background-color: #102B3F;
 -fx-background-radius: 10;
 -fx-border-radius: 10;
 -fx-border-color: #000000;
 -fx-border-width: 2;
 -fx-padding: 10;
 -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.6), 10, 0, 0, 0);
}

.LoginPanel {
 -fx-background-color: linear-gradient(#1488CC, #2B32B2);
 -fx-background-radius: 10;
 -fx-border-radius: 10;
 -fx-border-color: #000000;
 -fx-border-width: 2;
 -fx-padding: 10;
 -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.6), 10, 0, 0, 0);


}
.text-field {
 -fx-background-color: #ffffff;
 -fx-background-radius: 10;
 -fx-border-radius: 10;
 -fx-border-color: #000000;
 -fx-border-width: 2;
 -fx-padding: 10;
 -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.6), 10, 0, 0, 0);

}

.navbar {
 -fx-background-color: linear-gradient(#1488CC, #2B32B2);
 -fx-background-radius: 10;
 -fx-border-radius: 10;
 -fx-border-color: #000000;
 -fx-border-width: 2;
 -fx-padding: 10;



}
.dashpanels {
/* how to make left side gradient  */

 -fx-background-color: linear-gradient(#1446A0, #DB3069);
 -fx-background-radius: 10;
 -fx-border-radius: 10;
 -fx-border-color: #000000;
 -fx-border-width: 2;
 -fx-padding: 10;

 -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.6), 10, 0, 0, 0);

    -fx-translate-x: 5;

}

.dashpanels2 {
    /* how to make left side gradient  */

    -fx-background-color: linear-gradient(#1446A0, #8AE1FC);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #000000;
    -fx-border-width: 2;
    -fx-padding: 10;

    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.6), 10, 0, 0, 0);

    -fx-translate-x: 5;

}
.dashpanels3 {
    /* how to make left side gradient  */

    -fx-background-color: linear-gradient(#1BE7FF, #6EEB83);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #000000;
    -fx-border-width: 2;
    -fx-padding: 10;

    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.6), 10, 0, 0, 0);

    -fx-translate-x: 5;

}
.dashpanels4 {
    /* how to make left side gradient  */

    -fx-background-color: linear-gradient(#1BE7FF, #FFB800);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #000000;
    -fx-border-width: 2;
    -fx-padding: 10;

    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.6), 10, 0, 0, 0);

    -fx-translate-x: 5;

}
.dashpanels5 {
    /* how to make left side gradient  */

    -fx-background-color: linear-gradient(#3066BE, #28C2FF);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #000000;
    -fx-border-width: 2;
    -fx-padding: 10;

    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.6), 10, 0, 0, 0);

    -fx-translate-x: 5;

}
.dashpanels6 {
    /* how to make left side gradient  */

    -fx-background-color: linear-gradient(#60AFFF, #28C2FF);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #000000;
    -fx-border-width: 2;
    -fx-padding: 10;

    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.6), 10, 0, 0, 0);

    -fx-translate-x: 5;

}
.dashpanels1 {
/* how to make left side gradient  */

 -fx-background-color: linear-gradient(#1D3461, #1F487E);
 -fx-padding: 10;


 -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.6), 10, 0, 0, 0);



}

.titlebar {
 -fx-background-color: linear-gradient(#1488CC, #2B32B2);
 -fx-border-radius: 10;
 -fx-border-color: transparent;
 -fx-border-width: 2;
 -fx-padding: 10;



}
.jfx-button {
    -fx-background-color: #4CAF50; /* Background color */
    -fx-text-fill: white; /* Text color */
    -fx-font-size: 14px; /* Font size */
    -fx-padding: 10 20; /* Padding */
}

/* Hover effect */
.jfx-button:hover {
    -fx-background-color: #45a049; /* Darker background color on hover */
}

/* Pressed effect */
.jfx-button:pressed {
    -fx-background-color: #3c883c; /* Even darker background color when pressed */
}

.jfx-button1 {
    -fx-background-color: #507DBC; /* Background color */
    -fx-text-fill: white; /* Text color */
    -fx-font-size: 10px; /* Font size */
    -fx-padding: 10 20; /* Padding */
}

/* Hover effect */
.jfx-button1:hover {
    -fx-background-color: #DAE3E5; /* Darker background color on hover */
}

/* Pressed effect */
.jfx-button1:pressed {
    -fx-background-color: #3c883c; /* Even darker background color when pressed */
}

.custom-text-field {
    -jfx-unfocus-color: #4d4d4d;
    -jfx-focus-color: #009688;
    -jfx-default-label-columncount: 1;
    -jfx-focused-label-columncount: 1;
    -jfx-label-float: true;
}

.table-view {
    -fx-background-color: transparent;
    -fx-padding: 0px;
    -fx-border-color: linear-gradient(to bottom right, #00A7E1, #083D77);
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
}

.table-view .table-column {
    -fx-alignment: CENTER;
}

.table-view .column-header-background {
    -fx-background-color: #33658A;
    -fx-background-radius: 8px 8px 0px 0px;
    -fx-background-inset: 0 0 0 0;
}

.table-view .column-header, .filter {
    -fx-background-color: transparent;
    -fx-size: 40px;
}

.table-view .column-header .label {
    -fx-text-fill: #fff;
    -fx-font-family: "Arial";
}

/* Customize the background color of the second column cells */
.table-view .table-row-cell table-cell {
     -fx-background-color: transparent;
}

.table-row-cell .table-cell {
   -fx-background-color: transparent/* Replace with your desired color */
}

/* Style for children nodes within the FlowPane */
.yourFlowPaneClass > * {
    -fx-padding: 2; /* Padding for each child node */
    -fx-margin: 2; /* Margin for each child node */
     -fx-background-color: #ffffff;
     -fx-text-fill: white;
}